---
---

@import "{{ site.theme }}";

#header {
margin: 0 auto !important;
}

#header > nav {
    margin: 0 auto;
    background: none !important;
}

#header > nav > li {
    margin-left: 5px !important;
    margin-right: 5px !important;
}



&.fork {
    margin-left: 5px !important;
    margin-right: 5px !important;
}
