---
---

@import "{{ site.theme }}";


  nav {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 10px;
    rgba(255, 165, 0, 0);
    margin: 6px auto;
    opacity: 0.0;
}

&.fork {
    float: left;
    margin-left: 2px;
    margin-right: 2px;
}


&.id {
    float: right;
    margin-left: 1px;
    margin-right: 1px;
}
